<% provide :title, @product.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @product.image_url if @product.image? %>
        <%= @product.name %>
      </h1>
    </section>
  </aside>
</div>
