<%= form_tag admin_suggested_product_path(product) , method: :put do %>
  <div class="col-md-6">
    <%= select_tag :status, options_for_select(SuggestedProduct.statuses,
      params[:status]), class: "form-control" %>
  </div>
  <div class="col-md-4">
    <%= submit_tag t(".change"), class: "btn btn-primary" %>
  </div>
<% end %>
