<li>
  <%= image_tag user.avatar, alt: t(".user.image") if user.avatar? %>
  <%= link_to user.name, [:admin, user] %>
  <%= link_to "", [:admin, user], :class => "glyphicon glyphicon-trash",
    method: :delete, data: { confirm: t("you_sure") } %>
</li>
